* {
    margin: 0;
    padding: 0
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
      font-family: -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
}

body {
    font-size: 112.5%; /* 18px */
    line-height: 1.33; /* 24px */
    font-weight: 300;
    background: #260B43;
    color: #fff;
}


img {
    max-width: 100%;
    height: auto;
}

a { 
    color: #C27DFF;
    text-decoration: none;
}

a:hover { 
    color: #C27DFF;
    text-decoration: underline;
}


.links { 
    padding: 0;
    overflow: hidden;
}

.links li { 
    float: left;
    display: inline-block;
    margin-left: 20px;
 }

.links a { 
    color: #C1BAC9;
    text-decoration: none;
}

.links a:hover { 
    color: #C27DFF;
    text-decoration: none;
}

#button .bg { 
    fill:#FE2558;
    transition: 200ms ease;
} 

#button:hover .bg { 
    fill: #C27DFF;
}


.wrapper {
    width: 100%;
}

.header-description {
    margin-bottom: 4em;
}

@media screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header-description {
        flex: 1.1;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .header-preview {
        display: flex;
        flex: 1.4;
    }
}

.preview {
    margin-top: auto;
    margin-bottom: 0;
}

.title {
    font-weight: 1rem;
    line-height: 1;
    margin-bottom: 0.2em;
}

.tagline {
    font-size: 1.53rem;
    margin-bottom: 1.3rem;
    max-width: 22ch;
    opacity: 0.8
}
