html,
body {
  background: transparent;
  color: #767676;
  font-family: "Helvetica Neue"
}

.window {
  margin-top: 18px;
  border-radius: 8px;
  overflow: scroll;
  background: #E8E8E8;
}

.arrow {
  top: 5px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #E8E8E8;
  position: absolute;
  left: 50%;
  margin-left: -13px
}

.main-action {
  padding: 10px 25px;
  border-bottom: 1px solid #D6D6D7;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em
}

.options {
  list-style: none;
  padding: 0 25px 5px 25px;
  font-weight: 400;
}

.options li {
  padding: 9px 0 9px 0;
  letter-spacing: 0.02em;
  font-size: 14px;
  cursor: pointer
}

.options li:hover {
  color: #404040;
}

.options li.active {
  background: url('../img/check.png') right center no-repeat;
  background-size: 15px;
}

.main-action {
  display: flex
}

.main-action h2 {
  width: 90%;
}

.update {
  background: #8635CE;
  padding: 5px 25px 7px 25px;
  color: white;
  font-size: 12px;
}
.update span {
  margin-right: 5px;
}
.update a {
  margin-left: 3px;
  color: #fff;
}

/*----------------------*/

.toggle {
  align-self: center;
}

.row {
  position: relative;
}

input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  background: #9B9B9B;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #8635CE;
  border-radius: 100px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
}
input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  height: 34px;
  width: 34px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
input[type="checkbox"]:checked + label {
  background: #853DC3;
}
input[type="checkbox"]:checked + label:after {
  left: calc(100% - 28px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}